body {
  color: lack;
  background-color:black;
}
#Wrapper {
  width: 1400px;
  height: 900px;
  margin:0 auto;
  position:;
  Background-color: green;
}

#Header {
  margin:0 auto;
  width: 1000px;
  height: 100px;
  text: bold;
  text-align: center;
  font-style: Times;
  background-color: red;
}

#Leftbody {
  float:left;
  background-color: pink;
  position: relative;
  font-style: Times;
  left:14.26%;
  margin:0 auto;
  font-size: 20px;
  font-weight: bolder;
  width: 300px;
  height: 100px;
}
#Rightbody {
  float:left;
  position: relative;
  left:14.26%;
  font-style: Times;
  margin:0 auto;
  font-size: 20px;
  font-weight: bolder;
  width: 700px;
  height: 100px;
  background-color: orange;
}

#mainbody {
text-align: left;
margin:0 auto;
font-weight: bolder;
font-style: Times;
font-size: 20px;
height: 650px;
width: 1000px;
background-color: blue;
clear:both;
}
#footer {
  width: 1000px;
  margin:0 auto;
  height: 50px;
  text-align: left;
  font-style: Times;
  font-weight:bolder;
  font-size: 20px;
  background-color: yellow;
  position: relative;
  bottom: 20px;
  clear: both;
}
